<!doctype html>
<html lang="en">
<link rel="stylesheet" href="../static/css/Style.css" />

<head >
  <title>Lavoro A.S. 2022-23 : Home</title>
    
  <div class="header">
    <div class="topbar">
      <h1>Dati</h1> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/D">Dati</a></li>
        <li><a href="/M">Moto</a></li>
        <li><a href="/G">Galleria</a></li>
        <li class="button"><a href="/C">Contatti</a></li>
      </ul>
    </div>
  </div>
</head>




<body>
    <div class="flexbox">
    {% for item in units %}
        <p>id : {{ item[0] }}</p>
        <p>Nomi : {{ item[1] }}</p>
        <p>Colore : {{ item[2] }}</p>
        <p>Massa : {{ item[3] }}</p>
        <p>Diametro : {{ item[4] }}</p>
        <p>Densità : {{ item[5] }}</p>
        <p>Gravità superficiale : {{ item[6] }}</p>
        <p>Velocità di fuga : {{ item[7] }}</p>
        <img src="../static/immagini/{{item[1]}}.jpg" alt="{{item[1]}}" width="400" >
    {% endfor %}  
    </div>    
    


  


    
   


   
</body>

</html>