<!doctype html>
<html lang="en">
<link rel="stylesheet" href="../static/css/Style.css" />

<head >
  <title>Lavoro A.S. 2022-23 : Home</title>
    
  <div class="header">
    <div class="topbar">
      <h1>Descrizione generale</h1> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/D">Descrizione</a></li>
        <li><a href="/M">Moto</a></li>
        <li><a href="/G">Galleria</a></li>
        <li class="button"><a href="/C">Contatti</a></li>
      </ul>
    </div>
  </div>
</head>




<body>
  <div> 
    <p>Lista in base alla diatanza dal Sole</p>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </div>


    <div class="flexbox">
      {% for item in units %}
        <div>
          <img src="../static/immagini/{{item[1]}}.jpg" alt="{{item[1]}}" width="500" >
          <p>id : {{ item[0] }}</p><br>
          <p>Nomi : {{ item[1] }}</p><br>
          <p>Colore : {{ item[2] }}</p><br>
          <p>Massa : {{ item[3] }}</p><br>
          <p>Diametro : {{ item[4] }}</p><br>
          <p>Densità : {{ item[5] }}</p><br>
          <p>Gravità superficiale : {{ item[6] }}</p><br>
          <p>Velocità di fuga : {{ item[7] }}</p><br>
        </div>
      {% endfor %}  
    </div>    
    


  


    
   


   
</body>

</html>