<!doctype html>
<link rel="stylesheet" href="../static/css/Style.css" />


<head >
  <title>Lavoro A.S. 2022-23 : Home</title>
    
  <div class="header">
    <div class="topbar">
      <h1>Galleria</h1> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/D">Descrizione</a></li>
        <li><a href="/M">Moto</a></li>
        <li><a href="/G">Galleria</a></li>
        <li class="button"><a href="/C">Contatti</a></li>
      </ul>
    </div>
  </div>
</head>

<body>
    <div class="galleria">
      <div class="part">
        <img src="../static/Galleria/g (1).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (2).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (3).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (4).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (5).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (6).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (7).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (8).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (9).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (10).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (11).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (12).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (13).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (14).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (15).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (16).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (17).jpg" alt="Foto della NASA">
      </div>
    
      <div class="part">
        <img src="../static/Galleria/g (18).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (19).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (20).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (21).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (22).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (23).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (24).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (25).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (26).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (27).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (28).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (29).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (30).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (31).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (32).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (33).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (34).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (35).jpg" alt="Foto della NASA">
      </div>
    
      <div class="part">
        <img src="../static/Galleria/g (36).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (37).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (38).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (39).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (40).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (41).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (42).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (43).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (44).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (45).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (46).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (47).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (48).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (49).jpg" alt="Foto della NASA">
        <img src="../static/Galleria/g (50).jpg" alt="Foto della NASA">
    </div>

    </div>


</body>