<!doctype html>
<head>
<title>Lavoro A.S. 2022-23</title>
<link rel="stylesheet" href="../static/css/Style.css" />
<h1 class="titolo_h1">Solar System</h1>
</head>

<head >
  <div class="topbar">
    <a href="https://5000-liyixin-progettofineann-k4mt0zqa5pe.ws-eu97.gitpod.io/">Home</a>
    <a href="https://5000-liyixin-progettofineann-k4mt0zqa5pe.ws-eu97.gitpod.io/S">Descrizione</a>
    <a href="https://5000-liyixin-progettofineann-k4mt0zqa5pe.ws-eu97.gitpod.io/D">Galleria</a>
  </div>
</head>



<body class="sfondo">  
  
  <img src="../static/Welcome.gif" alt="Welcome gif" class="Welcome">


</body>