<!doctype html>
<link rel="stylesheet" href="../static/css/Style.css" />


<head >
<title>Lavoro A.S. 2022-23 : Home</title>

  
<div class="topbar">
  
  <header> 
  <h1 >Solar System</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/D">Dati</a></li>
    <li><a href="/M">Moto</a></li>
    <li><a href="/G">Galleria</a></li>
  </ul>
  </header>
</div>


</head>





<body>  
<div class="center" > 
<img src="../static/Welcome.gif" alt="Welcome gif" style="height: 500px;">
</div>

</body>