<!doctype html>
<link rel="stylesheet" href="../static/css/Style.css" />


<head style="background-color: black;">
  <title>Lavoro A.S. 2022-23 : Home</title>
    
  <div class="header">
    <div class="topbar">
      <h1>Moto del sistema solare</h1> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/D">Descrizione</a></li>
        <li><a href="/M">Moto</a></li>
        <li><a href="/G">Galleria</a></li>
        <li class="button"><a href="/C">Contatti</a></li>
      </ul>
    </div>
  </div>
</head>


<body style="background-color: black;">
  <div class="moto">
    <img src="../static/moto.gif" alt="Gif : 'corsa'" style="height: 700px;">
  </div>
 
  <p style="font-size: 30px;">Per maggiori informazioni:</p><br>
  
  <a href="https://it.wikipedia.org/wiki/Moto_di_rivoluzione" style="margin: 10px 10px 10px 10px;font-size: 20px;">Moto di rivoluzione</a>
  <br>
  <a href="https://it.wikipedia.org/wiki/Moto_retrogrado" style="margin: 10px 10px 10px 10px;font-size: 20px;">Moto retrogrado</a>
  <br>
  <a href="http://www.overhorizon.it/il-moto-reale-del-sistema-solare/" style="margin: 10px 10px 10px 10px;font-size: 20px;">Moto reale del sistema solare</a>
 
</body>