<!doctype html>
<link rel="stylesheet" href="../static/css/Style.css" />


<head style="background-color: black;">
  <title>Lavoro A.S. 2022-23 : Home</title>
    
  <div class="header">
    <div class="topbar">
      <h1>Moto del sistema solare</h1> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/D">Descrizione</a></li>
        <li><a href="/M">Moto</a></li>
        <li><a href="/G">Galleria</a></li>
        <li class="button"><a href="/C">Contatti</a></li>
      </ul>
    </div>
  </div>
</head>


<body style="background-color: black;">
  <div class="moto">
    <img src="../static/moto.gif" alt="Gif : 'corsa'" style="height: 700px;">
  </div>
  <a href=""></a>
</body>