<!doctype html>
<html lang="en">

<head>
<title>Solar system </title>

<link rel="stylesheet" href="../static/css/Style.css" />

<h1 class="titolo_h1">Solar Systeme</h1>

<div class="topbar">
    <a href="https://5000-liyixin-progettofineann-k4mt0zqa5pe.ws-eu97.gitpod.io/">Home</a>
    <a href="https://5000-liyixin-progettofineann-k4mt0zqa5pe.ws-eu97.gitpod.io/S">Descrizione</a>
    <a href="https://5000-liyixin-progettofineann-k4mt0zqa5pe.ws-eu97.gitpod.io/D">Galleria</a>
</div>
</head>





<body>
    <div class="flexbox">
    {% for item in units %}
        <p>id : {{ item[0] }}</p>
        <p>Nomi : {{ item[1] }}</p>
        <p>Colore : {{ item[2] }}</p>
        <p>Massa : {{ item[3] }}</p>
        <p>Diametro : {{ item[4] }}</p>
        <p>Densità : {{ item[5] }}</p>
        <p>Gravità superficiale : {{ item[6] }}</p>
        <p>Velocità di fuga : {{ item[7] }}</p>
        <img src="../static/immagini/{{item[1]}}.jpg" alt="{{item[1]}}" width="400" >
        </div>
    {% endfor %}  
    </div>    
    


  


    
   


   
</body>

</html>