<!doctype html>
<html lang="en">

<head>
<title class="solid">Solar system </title>
<link rel="stylesheet" href="../static/css/System_Element.css" />

</head>

<body>
    <div>
    <h1>Sistema solare</h1>
    {% for item in units %}
    
        <p>id : {{ item[0] }}</p>
        <p>Nomi : {{ item[1] }}</p>
        <p>Colore : {{ item[2] }}</p>
        <p>Massa : {{ item[3] }}</p>
        <p>Diametro : {{ item[4] }}</p>
        <p>Densità : {{ item[5] }}</p>
        <p>Gravità superficiale : {{ item[6] }}</p>
        <p>Velocità di fuga : {{ item[7] }}</p>
        <img src="../static/immagini/{{item[1]}}.jpg" alt="{{item[1]}}" width="400" >
        
    </div>    
    

    <h2>

    </h2>

  


    {% endfor %}
   


   
</body>

</html>