head {
    text-align: center;
    color: #26d334;
    }
    

h1 {
  color: aliceblue;
  font-size: 70px;
  text-align: center;
  
  }

body{
  background-color: #000000;
  padding: 5px;
  }




p {
    color: #c140c5;
    }

img {
      max-width: 100%;
      max-height: 100%;
  }

.Welcome{
  width: 3000px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }






.topbar
  {
  background-color: #ffffff;
  font-size: 30px;
  color: #000000;
  }

.topbar a
  {
  color: #000000;
  text-decoration: none;
  }


li{
  display: inline;
  margin: 10px;
  color: #ffffff;
  font-size: 30px;
  }


.solid {
    border-style: solid;
    border-color: rgb(196, 196, 32);
        }

.flexbox {
  display: flex;
  background-color: rgb(107, 77, 77);

}





