head {
    background-color: #00000000;
    text-align: center;
    color: #000000;
    }
p {
    color: #000000;
    }


.solid {border-style: solid;
        border-color: beige;
        }

.flexbox {
    display: flex;
  background-color: rgb(0, 0, 0);
}

.flexbox > div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}




